* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    letter-spacing: 1px;
    background-color: black;
}

.container {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
}

.col-12 {
    grid-column: span 12;
}

header {
    display: flex;
    justify-content: space-between;
    background: #111;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .logo {
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: bold;
    color: #fff;
}

header .logo span {
    color: gold;
}

nav ul,
nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    display: block;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: gold;
    border-bottom: 1px solid gold;
}

nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    display: none;
    padding: 10px 0;
    min-width: 150px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
    display: block;
}

.menu-toggle {
    font-size: 26px;
    cursor: pointer;
    color: white;
    display: none;
}

.hero {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 50%;
}

.content h1 {
    font-size: 28pt;
    margin-bottom: 20px;
    color: white;
    margin-right: 10px;
    /* opacity: 0; */
}

.content h1 span {
    color: gold;
}

.content p {
    margin-bottom: 30px;
    line-height: 1.6;
    color: white;
}

.content a {
    text-decoration: none;
    color: white;
    box-shadow: 1px 0px 10px rgba(255, 238, 0, 0.3);
    border: 1px solid yellow;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
    transition: opacity 0.15s;
}

.content a:hover {
    opacity: 0.7;
}

.band-image img {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid gold;
    box-shadow: 0 0 40px rgba(254, 237, 1, 0.2);
}

.about-section {
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

.about-section h2 {
    margin-bottom: 20px;
    text-align: center;
    color: gold;
}

.about-section p {
    color: white;
    text-align: justify;
    line-height: 2;
}


#member-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.member-title {
    color: #f5f5f5;
    margin-top: 100px;
    text-align: center;
}

.member-info-tab {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    border: none;
}

.member-image {
    width: 100%;
    aspect-ratio: 1/1;
    border: none;
}

.member-name {
    padding: 10px 20px;
    color: black;
    text-align: center;
    font-weight: bold
}

.member-info {
    opacity: 0.88;
    font-size: 10pt;
    line-height: 16pt;
    padding: 10px 20px;
    text-align: justify;
}

#song-section {
    width: 100%;
    padding: 50px;
    margin-top: 50px;
}

#song-section h2 {
    margin-bottom: 15px;
    color: #f5f5f5;
    text-align: center;
}

.song-container {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.card {
    position: relative;
    width: 400px;
    min-width: 350px;
    height: 250px;
    overflow: hidden;
}

.card iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .overlay {
    opacity: 0.5;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 400px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

#album-section {
    width: 100%;
    margin: auto;
    padding: 20px;
}

#album-section h2 {
    color: #f5f5f5;
    text-align: center;
}

.album-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.album-card {
    background: black;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    border: none;
    padding: 10px;
    transition: box-shadow 0.18s;
}

.album-card:hover {
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    border: none;
}

.album-image {
    width: 100%;
    height: 70%;
    border: none;
    margin-bottom: 5px;
}

.album-name {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.album-release {
    color: white;
    font-size: 10pt;
    text-align: center;
}

#events {
    max-width: 100%;
    margin: 50px auto;
    padding: 50px;
}

#events img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#events h2 {
    color: #f5f5f5;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 15px;
}

#events p {
    color: rgb(177, 176, 176);
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 10px;
}

.event-news {
    background: #111;
    padding: 50px;
    text-align: center;
}

.event-news a {
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 10pt;
    border: 1px solid white;
    cursor: pointer;
    background: black;
    color: white;
    transition: background-color 0.15s;
}

.event-news a:hover {
    background-color: white;
    color: black;
}

#gallery-section {
    padding: 80px 50px;
}

#gallery-section h2 {
    text-align: center;
    font-size: 24pt;
    color: white;
    margin-bottom: 30px;
    padding: 10px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0px 12px rgba(85, 84, 84, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.gallery-overlay {
    font-size: 14pt;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    color: white;
    display: none;
    background-color: #333;
}

.gallery-card:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}

.gallery-card:hover .gallery-overlay {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
    display: block;
}

#sign-up {
    margin: auto;
    max-width: 600px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid gold;
}

#sign-up h2 {
    color: white;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 10px;
}

#sign-up label {
    color: white;
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

#sign-up input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
}

#sign-up p {
    text-align: justify;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 15px;
}

#sign-up button {
    margin-top: 15px;
    padding: 13px 35px;
    font-size: 20px;
    border: 2px solid gold;
    cursor: pointer;
    background: black;
    color: white;
    transition: all 0.15s;
}

#sign-up button:hover {
    border: 2px solid white;
    color: gold;
}

footer {
    background-color: #111;
    color: white;
    padding: 20px;
    margin-top: 5px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.social-icons a {
    transition: opacity 0.15s;
}

.social-icons a:hover {
    opacity: 0.15;
}

.icons {
    width: 25px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links {
    height: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 8pt;
    text-align: center;
    margin: 10px 10px;
}

.footer-links a:hover {
    opacity: 0.15;
}

.site-credit {
    justify-content: center;
    display: flex;
    font-size: 10pt;
}

@media (max-width: 600px) {
    .row {
        grid-template-columns: 1fr;
    }

    header .logo {
        font-size: 14pt;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin-top: 10px;
    }

    .menu-toggle {
        display: block;
        font-size: 14pt;
    }

    .menu {
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 6px 0;
    }

    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .content {
        max-width: 100%;
    }

    .band-image img {
        max-width: 400px;
        margin-top: 20px;
    }

    .song-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        margin-top: 10px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .row {
        grid-template-columns:
            repeat(6, 1fr);
    }

    .band-image img {
        max-width: 600px;
    }

    header .logo {
        font-size: 18pt;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
    }

    nav ul li {
        margin-top: 10px;
    }

    nav ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }

    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .song-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        margin-top: 10px;
    }
}

@media (min-width: 901px) {
    .row {
        grid-template-columns: repeat(12, 1fr);
    }
}